body {
  margin: 0px;
  font-family: sans-serif;
  background-color: ivory;
  background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0.5), ivory 85%);
}

a {
  color: #0d6efd;
}

a:hover, a:focus {
  color: #0a58ca;
}

a:visited {
  color:rgba(96, 96, 96, 0.75);
}

/* Adjust the gradient for larger screens */
@media only screen and (min-width: 1000px)  {
  body {
    background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0.5) 10%, ivory 85%);
  }
}

/* Home page */

/* Mobile-first banner image */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/header_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 200px;
  width: 100%;
}

#banner a {
  text-decoration: none;
}

#banner img {
  display: block;
  margin: 32px auto 16px auto;
  width: 90%;
}

/* Set template for mobile-first buttons */
button {
  display: block;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  height: 80px;
  background-color: midnightblue;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
}

/* Divide the two buttons slightly */
#contact-button {
  border-top: 2px groove rgba(0, 0, 0, 0);
}

button:hover, button:focus {
  text-shadow: 0 0 20px rgba(255, 255, 0, 1);
}

button:active {
  box-shadow: 0 0 20px 0 rgba(255, 255, 0, 1) inset;
}

/* Make adjustments for larger screens */
@media only screen and (min-width: 1000px) {
  #logo-banner {
    margin: 16px auto 1% auto;
    width: 75%;
  }

  #product-button {
    margin: 1% auto 128px auto;
    width: 30%;
  }

  button {
    border-radius: 12px;
  }

  button:hover, button:focus {
    text-shadow: none;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 20px 0 rgba(255, 255, 0, 1);
  }

  button:active {
    text-shadow: 0 0 20px rgba(255, 255, 0, 1);
  }

  /* On larger screens, place Contact button in top-right corner of screen */
  #contact-button button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 2px;
    width: 140px;
    height: 38px;
    font-size: 20px;
    border-radius: 0px 0px 0px 12px;
  }
}

/* Adjust spacing, sizing, and margins for the largest screens */
@media only screen and (min-width: 1500px) {
  #logo-banner {
    width: 75%;
    min-width: 300px;
  }

  #product-button {
    margin-top: 16px;
  }

  #contact-button button {
    margin: 0;
  }
}

.blue {
  color: blue;
}

#from-beyond {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 2px groove rgba(0, 0, 0, 0);
  text-align: center;
}

/* Animated "Beyond" */
@keyframes ghostly-beyond {
  0%    {color: rgba(0, 0, 255, 0);}
  25%   {color: rgba(0, 0, 255, 0.60);}
  50%   {color: rgba(0, 0, 255, 0.05);}
  75%   {color: rgba(0, 0, 255, 0.40);}
  100%  {color: rgba(0, 0, 255, 1.00);}
}

#beyond {
  color: blue;
  animation-name: ghostly-beyond;
  animation-delay: 0s;
  animation-duration: 6s;
  animation-timing-function: linear;
}

/* On larger screens, use a banner instead of a more traditional header setup */
@media only screen and (min-width: 1000px) {
  #from-beyond {
    position:relative;
    width: 760px;
    top: -40px;
    padding: 30px 0 30px 32px;
    background-color: yellow;
    border-style: none;
    text-align: left;
    font-size: 23px;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.25);
  }
}

/* Adjust sizing on the largest screens */
@media only screen and (min-width: 1500px) {
  #from-beyond {
    font-size: 32px;
    width: 1025px;
  }
}

/* Organize multiple content types */
#main {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif;
  color: rgba(0, 0, 0, 0.85);
}

/* Display image */
.breaker {
  display: block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cap height of image for mobile */
@media only screen and (max-width: 999px) {
  .breaker {
    height: 600px;
  }
}

#dc {
  background-image: url(../images/dc.jpg);
}

.lead {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

/* Mobile-first */
#pitch {
  display: flex;
  flex-direction: column;
}

#pitch-text {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* On larger screens, put image and card side-by-side */
@media only screen and (min-width: 1000px) {
  #pitch {
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 75px;
  }

  .breaker {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    flex-basis: 50%;
    border-radius: 3% 15%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
  }

  #pitch-text {
    flex-basis: 50%;
    padding: 0px 24px 8px 24px;
    margin-right: 5%;
    background-image: linear-gradient(to bottom, rgba(192, 192, 192, 0.35) 0%, rgba(192, 192, 192, 0.90) 13%, rgba(255, 255, 0, 0.90) 13%, rgba(255, 255, 0, 0.35) 100%);
    border-radius: 25px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
    font-size: 20px;
  }

  #pitch-text h2 {
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.75);
  }
}

/* Adjust font sizing and gradient for largest screens */
@media only screen and (min-width: 1500px) {
  #pitch-text {
    font-size: 24px;
    background-image: linear-gradient(to bottom, rgba(192, 192, 192, 0.35) 0%, rgba(192, 192, 192, 0.90) 15%, rgba(255, 255, 0, 0.90) 15%, rgba(255, 255, 0, 0.35) 100%);
  }

  #pitch-text h2 {
    font-size: 32px;
  }
}

/* Use this as a "breaker" on mobile */
#ghost {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/* This isn't needed on desktop so remove it */
@media only screen and (min-width: 1000px) {
  #ghost {
    display: none;
  }
}

#customers h2, #customers p, #customers .lead {
  padding-left: 10px;
  padding-right: 10px;
}

#haunters h2 {
  margin-bottom: 0px;
}

#haunters .lead {
  margin-top: 2px;
  margin-bottom: 30px;
}

/* Same idea as with "Reach the Living..." */
@media only screen and (min-width: 1000px) {
  #haunters {
    width: 760px;
    padding: 3px 0 3px 32px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: yellow;
    border-style: none;
    text-align: left;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.25);
  }

  #haunters h2 {
    font-size: 32px;
  }

  #haunters .lead {
    font-size: 18px;
  }
}

/* Fine-tuning for the largest screens */
@media only screen and (min-width: 1500px) {
  #haunters {
    width: 1025px;
    margin-top: 75px;
  }

  #haunters h2 {
    font-size: 40px;
  }

  #haunters .lead {
    font-size: 22px;
  }
}

/* Mobile-first */
#testimonials {
  display: flex;
  flex-direction: column;
}

/* Use an image border to contain testimonials */
.testimonial {
  border: 48px solid transparent;
  border-image: url(../images/ghost_border_1_small.png) 50% stretch;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  text-align: justify;
  padding: 10px;
}

/* Make the citations stand out */
#customers .citation {
  padding-top: 12px;
  text-align: right;
}

.citation cite {
  color: rgba(0, 247, 255, 0.5);
  font-weight: bold;
}

/* Enable two testimonials per row on desktop */
@media only screen and (min-width: 1000px) {
  #testimonials {
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }

  .testimonial {
    flex-basis: 50%;
    font-size: 18px;
    text-align: left;
  }
}

/* Big button linking to products page */
#get-started {
  margin: 40px 0 0 0;
}

#get-started a {
  text-decoration: none;
}

#get-started button {
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

#get-started button:active {
  text-shadow: none;
  box-shadow: 0 0 20px 0 rgba(255, 255, 0, 1);
}

#get-started button:hover, #get-started button:focus {
  box-shadow: none;
  text-shadow: 0 0 20px rgba(255, 255, 0, 1);
}

@media only screen and (min-width: 1000px) {
  #get-started button:hover, #get-started button:focus {
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 20px 0 rgba(255, 255, 0, 1);
  }

  #get-started button:active {
    text-shadow: 0 0 20px rgba(255, 255, 0, 1);
    box-shadow: none;
  }
}

/* Footer */

/* Use an image to divide the footer from the main page content */
.footer-divider {
  width: 100%;
  height: 60px;
  background-image: url(../images/ghost_host_divider_bar.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

/* Increase size of this on desktop */
@media only screen and (min-width: 1000px) {
  .footer-divider {
    height: 110px;
  }
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Show legal disclaimer and Ghost Host Inc on same line */
#parallel-footer {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  margin-top: 10px;
}

#sig {
  align-self: right;
  flex-basis: 50%;
  text-align: right;
  margin: 0;
}

#signature {
  font-size: 10px;
  color:rgba(0, 0, 0, 0.5);
}

.footer {
  font-size: 10px;
  color:rgba(0, 0, 0, 0.65);
  margin: 2px 0 0 0;
}

.legal-header {
  align-self: left;
  flex-basis: 50%;
  font-size: 12px;
  color:rgba(0, 0, 0, 0.65);
}

/* Fine-tune sizing for larger screens */
@media only screen and (min-width: 1000px) {
  footer {
    margin: 16px 5% 16px 5%;
    padding: 0;
  }

  #signature {
    font-size: 16px;
  }

  .legal-header {
    font-size: 16px;
  }

  .footer {
    font-size: 12px;
  }
}

/* Navigation bar */

/* Navigation bar styling for non-home page */
.navbar {
  background-image: linear-gradient(to right, rgba(0,0,0,0), midnightblue 20%, black 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.text-nav {
  display: inline-block;
  width: 200px;
  margin: 0;
  padding: 25.5px 10px 25.5px 10px;
  font-size: 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover, .navbar a:focus {
  background-color: rgb(17, 17, 17);
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar img {
  display: inline-block;
  height: 64px;
  padding: 10px;
  margin-right: 30px;
  justify-self: left;
}

.navbar a:active {
  color: rgb(255, 255, 0);
}

.active-nav {
  background-color: yellow;
  color: black !important; /* Override .text-nav */
}

/* Adjust gradient for larger screen sizes */
@media only screen and (min-width: 700px) {
  .navbar {
    background-image: linear-gradient(to right, rgba(0,0,0,0), midnightblue 15%, black 100%);
  }
}

@media only screen and (min-width: 1000px) {
  .navbar {
    background-image: linear-gradient(to right, rgba(0,0,0,0), midnightblue 10%, black 100%);
  }

  .text-nav {
    width: 125px;
    padding: 30px 10px 30px 10px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1500px) {
  .navbar {
    background-image: linear-gradient(to right, rgba(0,0,0,0), midnightblue 7%, black 100%);
  }
}

/* Removed */
#products-header {
  display: none;
}

/* Products page */

/* Domains products section */
#domains {
  background-image: url(../images/meeting.jpg);
  background-size: cover;
  background-position: 0% 40%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  border-top: 5px outset rgba(0, 0, 0, 0.25);
  border-bottom: 5px outset rgba(0, 0, 0, 0.25);
}

/* Title text for product */
.product-category{
  margin: 0;
  padding-top: 10px;
  color: white;
  font-size: 48px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.75)
}

/* Text accompanying product title */
.product-lead {
  padding: 0;
  margin: 0 auto 0 auto;
  width: 70%;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

/* Responsive product card container */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
}

/* Frame cards more appropriately */
@media only screen and (min-width: 820px) {
  .products {
    width: 70%;
  }
}

/* Responsive product cards */
.product {
  text-align: center;
  width: 300px;
  margin: 0 15px 20px 15px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
}

.product dt {
  background-color: #0d6efd;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.product dd {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 20px;
  font-size: 26px;
  border-radius: 0 0 5px 5px;
}

/* Scale down cards a bit as they do not need to be as big on these form factors- lets background compliment more */
@media only screen and (min-width: 1000px) {
  .product {
    width: 250px;
  }

  .product dt {
    font-size: 26px;
  }

  .product dd {
    font-size: 20px;
  }
}

/* Blend code tags for this section */
.product code {
  font-family: Arial, Helvetica, sans-serif;
}

/* Blend abbreviation tags for this section */
.product abbr, .server-product abbr {
  text-decoration: none;
}

/* Web hosting products section */
#hosting {
  position: relative;
  background-image: url(../images/server.jpg);
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0 0 110px 0;
  text-align: center;
  color: white;
  border-top: 5px outset rgba(0, 0, 0, 0.25);
}

/* Responsive product card container */
.server-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 30px auto 0 auto;
}

/* Allow multiple cards per row on larger screens */
@media only screen and (min-width: 1080px) {
  .server-products {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: top;
    margin: 30px auto 0 auto;
  }
}

/* Nix li features */
.specs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* Responsive product card */
.server-product {
  position: relative; /* Will use this for .server-product-price later */
  width: 80%;
  height: 350px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px outset rgba(13, 90, 239, 0.25);
}

/* Adjust card width for multi-column layout */
@media only screen and (min-width: 1080px) {
  .server-product {
    width: 30%;
    max-width: 450px;
  }
}

/* Glow and "raise" on hover or focus */
.server-product:hover, .server-product:focus {
  transition-property: box-shadow;
  transition-duration: 0.1s;
  box-shadow: 0 0px 20px 10px rgba(255, 255, 0, 0.25);
  z-index: 2;
}


.server-product dt {
  padding: 20px 10px 10px 10px;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.server-product dd {
  padding: 10px;
  margin: 0px;
}

.server-product li {
  font-size: 18px;
  padding: 2px 0 2px 0;
}

.server-product a {
  color: silver;
  text-decoration: none;
}

.server-product a:hover, .server-product a:focus {
  color: #0d6efd;
}

.server-type {
  font-size: 26px !important; /* Deal with .server-product li having precedence */
  padding: 5px 0 10px 0 !important; /* Deal with .server-product li having precedence */
}

/* Increase font size for smart phones because their web browsers are scaling text weirdly here */
@media only screen and (min-width: 780px) {
  .server-product li {
    font-size: 22px;
  }
}

/* Drop font size to accommodate multi-column layout better */
@media only screen and (min-width: 1080px) {
  .server-product li {
    font-size: 16px;
  }
}

/* Increase font size slightly for high-resolution desktop usersr */
@media only screen and (min-width: 1700px) {
  .server-product li {
    font-size: 18px;
  }
}

/* Position price at the bottom of the card */
.server-product-price {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Adjust button for product page */
#product-sheet > button {
  margin: 80px auto 0 auto;
  background-color: rgba(25, 25, 112, 0.85);
  z-index: 1; /* Help make sure it appears over the footer runner */
}

@media only screen and (min-width: 1000px) {
  #product-sheet > button {
    width: 70%;
  }
}

#product-sheet {
  text-decoration: none;
  z-index: 1;
}

/* Make sure on the products page the divider overlaps the web hosting background image */
#hosting .footer-divider {
  position: absolute;
  bottom: 0;
}

/* Contact page */

/* Video intro animation */
@keyframes boo {
  0% { width: 100%; }
  75% { width: 100%; }
  100% {width: 0%; }
}

/* Video intro */
#want-to-hear-from-boo {
  animation: boo 4s linear 0s 1;
  animation-fill-mode: both;
}

/* Title */
#non-form-contact-methods h2, #non-form-contact-methods .lead {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#non-form-contact-methods h2 {
  font-size: 30px;
}

#non-form-contact-methods .lead {
  font-size: 20px;
}

/* List of contact buttons */
#direct-contact-methods {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#direct-contact-methods a {
  width: 100%;
  text-decoration: none;
  display: block;
}

#not-last {
  border-bottom: 2px groove rgba(0, 0, 0, 0);
}

/* Make ovular, side-by-side buttons for desktop */
@media only screen and (min-width: 1000px) {
  #direct-contact-methods {
    width: 90%;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #direct-contact-methods a {
    margin: 10px 0;
    padding: 0 20px;
    width: 500px;
  }

  #not-last {
    border: none;
  }
}

/* Show phone number and fax number together */
#call-fax {
  display: flex;
  width: 90%;
  margin: 0 auto 20px auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.phone {
  display: block;
  width: 400px;
  margin: 5px 20px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
}

.phone:hover, .phone:focus {
  box-shadow: 0 0 20px 0 rgba(255, 255, 0, 1);
}

.phone:active {
  text-shadow: 0 0 20px rgba(255, 255, 0, 1);
}

.identifier {
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 10px;
  background-color: yellow;
  color: midnightblue;
  font-weight: bolder;
  border-radius: 12px 0 0 12px;
  font-size: 26px;
}

.p-number {
  display: inline-block;
  text-align: center;
  width: 210px;
  padding: 10px;
  color: white;
  background-color: midnightblue;
  border-radius: 0 12px 12px 0;
  font-size: 26px;
}

/* Synchronize pills with desktop button sizes */
@media only screen and (min-width: 1000px) {
  .phone {
    width: 500px;
  }

  .identifier {
    width: 180px;
  }

  .p-number {
    width: 280px;
  }
}

/* Crawler mail map and address */
#hq-address {
  width: 90%;
  display: flex;
  margin: 20px auto 10px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Map with image border */
#map {
  width: 40%;
  box-sizing: border-box;
  border: 48px solid transparent;
  border-image-source: url(../images/image_border.png);
  border-image-slice: 33%;
  border-image-width: 128px;
  border-image-repeat: round;
}

/* Address container */
#address {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

/* Rotate and curve image */
#address > img {
  transform: rotate(-2deg);
  width: 90%;
  border-radius: 100% 5% 5% 90%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Position header on image */
#address > h2 {
  position: absolute;
  transform: rotate(-2deg);
  z-index: 1;
  right: -2%;
  top: 5%;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/* Fine-tune image location and sizing */
@media only screen and (min-width: 650px) {
  #address > h2 {
    right: -5%;
    font-size: 26px;
  }
}

@media only screen and (min-width: 800px) {
  #address > h2 {
    right: -10%;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1000px) {
  #address > h2 {
    right: -10%;
    font-size: 36px;
  }
}

@media only screen and (min-width: 1500px) {
  #address > h2 {
    right: -10%;
    font-size: 48px;
  }
}

/* Position address on top of image */
#address address {
  position: absolute;
  transform: rotate(-2deg);
  bottom: 15%;
  left: 20%;
  font-style: normal;
  color: white;
  font-size: 16px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/* Fine-tune sizing and position */
@media only screen and (min-width: 800px) {
  #address address {
    font-size: 22px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    bottom: 15%;
    left: 15%;
  }
}

@media only screen and (min-width: 1000px) {
  #address address {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    font-size: 16px;
    bottom: 5%;
    left: 35%;
  }
}

@media only screen and (min-width: 1150px) {
  #address address {
    font-size: 18px;
    bottom: 5%;
    left: 35%;
  }
}

@media only screen and (min-width: 1290px) {
  #address address {
    font-size: 18px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    bottom: 5%;
    left: 44%;
  }
}

@media only screen and (min-width: 1440px) {
  #address address {
    font-size: 20px;
    bottom: 5%;
    left: 44%;
  }
}

@media only screen and (min-width: 1550px) {
  #address address {
    bottom: 4%;
    left: 48%;
  }
}

@media only screen and (min-width: 1890px) {
  #address address {
    bottom: 4%;
    left: 55%;
  }
}

/* Container for contact form */
#contact-form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#contact-form h2 {
  font-size: 2rem;
  margin: 0;
}

#contact-form .lead {
  font-size: 1.25rem;
  margin: 5px 0 30px 0;
}

/* Create a pill for entering email */
#enter-email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

label[for="email"] {
  display: block;
  text-align: center;
  width: 200px;
  padding: 20px;
  background-color: yellow;
  color: midnightblue;
  font-weight: bolder;
  border-radius: 12px 0 0 12px;
  font-size: 16px;
}

#email {
  display: block;
  text-align: center;
  width: 250px;
  padding: 20px 20px 19px 20px;
  margin: 0;
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: midnightblue;
  color: white;
  font-size: 16px;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#email::placeholder {
  color: silver;
}

/* Fine-tune sizing */
@media only screen and (min-width: 800px) {
  label[for="email"] {
    width: 300px;
    font-size: 24px;
  }

  #email {
    width: 400px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1000px) {
  #email {
    width: 60%;
  }
}

/* Create a message entry card */
#enter-message {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

label[for="message"] {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 20px 10px 20px;
  width: 100%;
  background-color: yellow;
  color: midnightblue;
  font-weight: bolder;
  font-size: 26px;
  border-radius: 25px 25px 0 0;
}

#message {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background-color: midnightblue;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: lighter;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  border-radius: 0 0 25px 25px;
}

#message::placeholder {
  color: silver;
}

/* Submit button */
#submit-form {
  display: block;
  width: 100%;
  height: 80px;
  margin: 20px auto;
  background-color: midnightblue;
  color: white;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  font-size: 30px;
  border-radius: 12px;
}

#submit-form:hover, #submit-form:focus {
  text-shadow: 0 0 5px white;
  box-shadow: 0 0 20px 0 yellow;
}

#submit-form:active {
  text-shadow: 0 0 20px yellow;
}